<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CT_HELP_SITE</key>
	<string>${CT_HELP_SITE}</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Logo</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
